@mixin table-cell {
  padding: 0.4rem 1rem;
  font-size: 95%;
  white-space: nowrap;
}

@mixin heading {
  color: var(--heading-color);
  font-weight: 400;
  font-family: 'Lato', 'Microsoft Yahei', sans-serif;
}

@mixin anchor {
  .anchor {
    padding-left: 0.2rem;
    font-size: 80%;
  }

  @media (hover: hover) {
    .anchor {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.15s ease-in, visibility 0s ease-in 0.25s;
    }

    &:hover {
      .anchor {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.15s ease-in, visibility 0s ease-in 0s;
      }
    }
  }
}

@mixin tag-style {
  $_c: var(--tag-text-color);

  padding-left: 1.5rem;
  border-radius: 1.5rem 0em 0em 1.5rem;
  border: 1px solid $_c;
  color: $_c;
  font-size: 0.8em;
  &::before {
    content: ' ';
    position: absolute;
    left: 0.5em;
    transform: translateY(-50%);
    top: 50%;
    background-color: $_c;
    // border: 10px solid #000;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 0.75rem;
  }
  &:hover {
    $_c: var(--tag-text-hover-color);
    color: $_c;
    border-color: $_c;
    &::before {
      background-color: $_c;

    }
  }
}
