{% comment %}

needs:

  - sidebar_title
  - sidebar_offcanvas_id
  - sidebar_nav_list


{% endcomment %}
<!-- bootstrap flex shrink. see https://v5.bootcss.com/docs/5.1/utilities/flex/ -->
<div class="d-flex justify-content-center align-items-start flex-wrap">

  <!-- sidebar / content -->
  <div class="books-sidebar px-3 pt-1 flex-shrink-1">
    
    <div class="d-flex align-items-center books-sidebar-title-wrapper pb-1">
      <a class='books-sidebar-title' data-bs-toggle="offcanvas" href="#{{ include.sidebar_offcanvas_id }}" role="button" aria-controls="{{ include.sidebar_offcanvas_id }}" >
        <span class="books-sidebar-title-icon p-1 fas fa-book"> </span>
        <span class="fs-5 fw-semibold">
          {{ include.sidebar_title }}
        </span>
      </a>
      <!--siderbar collapse btn  -->
      <button class="docs-sidebar-toggler btn py-0 px-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-expand" fill="currentColor" viewBox="0 0 16 16">
          <title>Expand</title>
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10z"></path>
        </svg>
    
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-collapse" fill="currentColor" viewBox="0 0 16 16">
          <title>Collapse</title>
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zm7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0zm-.5 11.707l-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0v-3.793z"></path>
        </svg>
      </button>
    </div>

    <nav class="bd-links collapse px-2" id="bd-docs-nav" aria-label="Docs navigation" style="">
      
      {{ include.sidebar_nav_list }}

    </nav> <!-- collapse -->

  </div>

  <div class="p-3 flex-fill flex-grow-1" style="background-color: pink;">
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
  </div>
</div>
