<!--
  The Top Bar
-->
<header class="navbar p-2">

  <nav class="container-xxl d-flex flex-lg-nowrap m-0 py-0 px-1">

    <div class="navbar-min-list">
      <a href="{{ '/' | relative_url }}" class="navbar-brand ">
        <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg> -->
        <img class="" width="45" src="{{ 'assets/images/b.svg' | relative_url }}"/>
      </a>
      <form class="search-box">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-navbar" aria-controls="offcanvas-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
        </svg>
      </button>
    </div>

    <div class="d-flex flex-nowrap offcanvas offcanvas-end" id="offcanvas-navbar"  tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
      <div class="offcanvas-header pb-0">
        <h5 class="offcanvas-title text-white" id="bdNavbarOffcanvasLabel">{{site.title}}</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body py-0">

        <hr class="d-md-none text-white-50">
        <!-- menu -->
        <ul class="nav-menu-list navbar-nav flex-row bd-navbar-nav">

          {% for nav in site.navs %}
          {% capture nav_name %}{{ nav.url | split: '/' }}{% endcapture %}
          <li class="nav-item col-6 col-md-auto">
            <!--class="nav-link px-2 text-secondary"-->
            <a class="nav-link px-2" href="{{ nav.url | relative_url }}">{{ site.data.locales[site.lang].navs.[nav_name] | default: nav.title | upcase }}</a>
          </li>
          {% endfor %}
        </ul>

        <hr class="d-md-none text-white-50">
        <!-- icon -->
        <ul class="nav-social-list navbar-nav flex-row ms-md-auto">
          {% for entry in site.data.contact %}
            {% capture url %}
              {%- if entry.type == 'github' -%}
                https://github.com/{{ site.github.username }}
              {%- elsif entry.type == 'twitter' -%}
                https://twitter.com/{{ site.twitter.username }}
              {%- elsif entry.type == 'email' -%}
                {%- assign email = site.social.email | split: '@' -%}
                javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
              {%- elsif entry.type == 'rss' -%}
                {{ "/feed.xml" | relative_url }}
              {%- else -%}
                {{ entry.url }}
              {%- endif -%}
            {% endcapture %}
        
            {% if url %}
            <li class="nav-item col-6 col-md-auto">
              <a class="nav-link p-2" href="{{ url }}" aria-label="{{ entry.type }}" 
              {%- unless entry.noblank -%}target="_blank" rel="noopener"{%- endunless -%} >
              <span class="social-logo {{ entry.icon }} "></span>
              <small class="d-md-none ms-2">{{entry.type}}</small>
              </a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="text-end">
      <!-- <button type="button" class="btn btn-outline-light me-2">Login</button> -->
      <!-- <button type="button" class="btn btn-warning">Sign-up</button> -->
    </div>
    
  </nav>

</header>

