/*
 * The syntax light mode typography colors
 */
@mixin dark-scheme {
  /* Framework color */
  --body-color: var(--bs-body-color);
  --body-bg-color: #fff;
  --border-color: #f3f3f3;
  
  /* Common color */
  --heading-color: black;

  /* Sidebar */
  --sidebar-title-text-color: #34343c;
  --sidebar-title-text-hover-color: #000;
  --sidebar-post-link-text-color: var(--sidebar-title-text-color);
  --sidebar-post-link-text-hover-color: var(--sidebar-title-text-hover-color);
  --sidebar-post-link-bg-hover-color: #d2f4ea;
  --sidebar-bg: rgba(255,255,255,0.97);
  --sidebar-shadow: #b1b0b070;

  /* Topbar */
  --topbar-text-color: var(--bs-white);
  --topbar-text-hover-color: var(--bs-gray-400);
  --topbar-wrapper-bg: var(--bs-gray-800);
  --search-box-text-color: var(--topbar-text-color);
  --search-box-placeholder-text-color: var(--bs-gray-400);
  --search-box-focus-bg-color: var(--bs-white);
  --search-box-bg-color: var(--topbar-wrapper-bg);
  --search-box-border-color: var(--bs-gray-600);
  
  /* Home page */

  /* Posts */
  --tb-odd-bg: #fbfbfb; /* odd rows of the posts' table */
  --tb-even-bg: #f1f1f1; /* even rows of the posts' table */
  --tb-border-color: #eaeaea; 
  --tb-header-border-color: rgba(210, 215, 217, 0.75); 

  --toc-active-color: #030303;
  --toc-title-border-color: var(--border-color);
  /* Categories */

  /* Archive */

} /* light-scheme */
