/*
 * The syntax light mode typography colors
 */

@mixin dark-scheme {
  /* Framework color */


  /* Common color */

  /* Sidebar */
  --sidebar-text-color: #34343c;
  --sidebar-text-hover-color: #000;
  --sidebar-bg: rgba(255,255,255,0.85);
  --sidebar-shadow: #b1b0b070;

  /* Topbar */
  --topbar-text-color: rgba(255,255,255,0.85);
  --topbar-text-hover-color: #fff;
  --topbar-wrapper-bg: #212529;
  --search-box-bg: #FFF;

  /* Home page */

  /* Posts */

  /* Categories */

  /* Archive */

} /* light-scheme */
