
.post-content-wrapper {
  overflow: auto;
  
  .post-content {
    overflow-wrap: break-word;
    // @extend %anchor;
    h2:not([data-toc-skip]) {
      // border-left: 0.2em solid #000;
      // padding-left: 0.2em;
      border: 0 solid #e6e6e6;
      border-bottom-width: 1px;
      padding-bottom: 0.6rem;
      // margin-bottom: 0.3em;
      margin-top: 2rem;
    }
  }
  
}