
/* header */
#header-search-box {

  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
  font-size: 0.5rem;
  padding: 0.225rem .75rem;
  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  width: 30em;
  &:focus {
    width: 50em;
    background-color: #FFF;
  }
  @media screen and (max-width: map-get($grid-breakpoints, md)) { /* bootstrap breakpoints see https://v5.bootcss.com/docs/layout/breakpoints/#available-breakpoints */
    &, &:focus {
      width: 100%;
    }
  }
  
}

@media screen and (min-width: map-get($grid-breakpoints, md)) { /* bootstrap breakpoints see https://v5.bootcss.com/docs/layout/breakpoints/#available-breakpoints */
  header .container {
    margin: auto 0;
  }
}

/* footer */

footer  {
  .logo {
    filter: invert(0.8);
    width: 5em;
    
  }
  .social-logo::before {
    font-size: x-large;
  }
}

/* offcanvas */

#offcanvasBooks .offcanvas-body .col {
  img {
    width: 100%;
    height: 100%;
  }
  .card-title {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 1.25em;
    color: #555;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* sidebar */

// height: calc(100vh - 7rem);

.books-sidebar {
  @media screen and (min-width: map-get($grid-breakpoints, md)) { /* bootstrap breakpoints see https://v5.bootcss.com/docs/layout/breakpoints/#available-breakpoints */
    min-width: 280px;
  }
  @media screen and (max-width: map-get($grid-breakpoints, md)) { /* bootstrap breakpoints see https://v5.bootcss.com/docs/layout/breakpoints/#available-breakpoints */
    & {
      width: 100%;
    }
  }
  
  .btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
    &:hover,
    &:focus {
      color: rgba(0, 0, 0, .85);
      background-color: #d2f4ea;
    }
    
    &::before {
      width: 1.25em;
      line-height: 0;
      content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
      transition: transform .35s ease;
      transform-origin: .5em 50%;
    }
    
    &[aria-expanded="true"] {
      color: rgba(0, 0, 0, .85);
    }
    &[aria-expanded="true"]::before {
      transform: rotate(90deg);
    }
  }
  
  .btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: #d2f4ea;
  }
}





// .books-sidebar {
//   position: sticky;
//   top: 0;
//   max-height: 100vh;
//   overflow: auto;
//   max-width: 20em;
//   // background-color: pink;

// }

// .books-details {
//   background-color: aqua;
// }

// @media screen and (max-width: map-get($grid-breakpoints, md)) { /* bootstrap breakpoints see https://v5.bootcss.com/docs/layout/breakpoints/#available-breakpoints */
//   .books-sidebar {
//     max-width: unset;
//   }
// }