html {
  @include dark-scheme;
}


/* header */
header {

  color: var(--topbar-text-color);
  background-color: var(--topbar-wrapper-bg);

  .navbar-toggler {
    padding: 0;
    margin: 0;
    margin-left: 0.5em;
    @media (min-width: map-get($grid-breakpoints, md)) {
      & {
        display: none;
      }
    }
  }

  .search-box {
      input {
      color: var(--topbar-text-color);
      background-color: var(--bs-dark);
      border-color: var(--bs-gray);
      font-size: 0.5rem;
      padding: 0.225rem .75rem;
      transition-property: width;
      transition-duration: 0.2s;
      transition-timing-function: ease;
      width: 15vw;
      &:focus {
        width: 35vw;
        background-color: var(--search-box-bg);
      }
    }
    @media screen and (max-width: map-get($grid-breakpoints, md)) { /* bootstrap breakpoints see https://v5.bootcss.com/docs/layout/breakpoints/#available-breakpoints */
      &, & input, & input:focus {
        width: 100%;
        // display: none;
      }
    }
  }

  .navbar-toggler, .nav-link, .social-logo{
    color: var(--topbar-text-color);
    // font-size: x-large;
    &:hover {
      color: var(--topbar-text-hover-color);
    }
  }
  


  .offcanvas.offcanvas-end {
    background-color: var(--topbar-wrapper-bg);
    @media screen and (min-width: map-get($grid-breakpoints, md)) {
      & {
        position: inherit;
        visibility: visible!important;
        transform: none;
        transition: none;
        flex-grow: 1;
      }
      .offcanvas-header { 
        display: none; 
      }
      .offcanvas-body {
        display: flex;
        flex-wrap: nowrap;
      }
    }
  }

  .nav-menu-list, .nav-social-list {
    flex-wrap: wrap;
    @media screen and (min-width: map-get($grid-breakpoints, md)) { /* bootstrap breakpoints see https://v5.bootcss.com/docs/layout/breakpoints/#available-breakpoints */
      flex-wrap: nowrap;
      overflow-x: hidden;
    }
  }



  .navbar-min-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    /* flex-wrap: wrap; */
    flex-direction: row;
    @media screen and (max-width: map-get($grid-breakpoints, md)) { /* bootstrap breakpoints see https://v5.bootcss.com/docs/layout/breakpoints/#available-breakpoints */
      & {
        width: 100%;
      }
    }
  }

}



/* footer */

footer  {
  .logo {
    filter: invert(0.8);
    width: 5em;
    
  }

}
