html {
  @include dark-scheme;
}

body {
  font-size: 16px;
  color: var(--body-color);
}

/* footer */

footer  {
  .logo {
    filter: invert(0.8);
    width: 5em;
    
  }

}

/* btn */

.btn-view-src {
  border-color: #dee2e6;
  color: #6c757d;
  &:hover, &:focus {
    // box-shadow: none;
    color: #000;
    border-color: #000;
  }
}

/* for development */
// #main {
//   div {
//     border: 1px solid palegreen;
//   }
// }