---
layout: page
---

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Enjoy Reading 📚</h1>
      <p class="lead text-muted">{{site.description}}</p>
      <!-- <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p> -->
    </div>
  </div>
</section>

<div class="container-xxl">
  <div class="row" data-masonry='{"percentPosition": true }'>

    {% for entry in site.data['books'] %}
      {% assign book_id = entry[0] %}
      {% assign book_info = entry[1] %}
      <div class="books-item col-6 col-sm-4 col-lg-3 mb-4">
        <div class="card">
          <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg> -->
          <a class="books-item-image-wrapper" href="{{ book_info['enter_url'] | relative_url }}">
            <img src="{{ book_info['image'] | relative_url }}" class="books-item-image rounded-start" alt="...">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ book_info['name'] | capitalize }}</h5>
            <p class="card-text">{{ book_info['description'] | capitalize }}</p>
            <!-- last modify -->
            {% assign last_modified_at = book_info['last_modified_at'] %}
            {% if last_modified_at %}
            <p>
              <small class="text-muted">latest update {{ last_modified_at | date: "%Y-%m-%d"  }}</small>
            </p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}

  </div> <!-- row -->
</div> <!-- container -->


<!-- todo -->
<!-- see https://masonry.desandro.com/ -->
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>