---
layout: page
---

{% assign book_cur_id = page.url | split: '#' | first | split: '?' | first | split: '/books/' | last | split: '/' | first  %}
<!-- book_cur_id {{book_cur_id}} -->
{%- assign book_cur = '' -%}
{%- assign book_locale_cur = '' -%}

<!-- offcanvas -->
<div class="offcanvas-books offcanvas offcanvas-start" tabindex="-1" id="offcanvasBooks" aria-labelledby="offcanvasBooksLabel">

  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">📚 {{ site.data.locales[site.lang].books.title | upcase }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  
  <div class="offcanvas-body">

    <div class="row row-cols-1 mt-3">
      {% for book in site.books %}
        {% assign book_id = book.url | split: '/' | last %}
        {% assign book_locale = site.data.locales[site.lang].books[book_id] %}
        {% if book_cur_id == book_id %}
          {%- assign book_cur = book -%}
          {%- assign book_locale_cur = book_locale -%}
        {% endif %}
        <!-- {{book.docs[0].category}} -->
        <div class="col offcanvas-books-item">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4 offcanvas-books-item-image-wrapper">
                <a href="{{ book.url | relative_url }}">
                  <img src="{{ book.image | relative_url }}" class="offcanvas-books-item-image img-fluid rounded-start" alt="...">
                </a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <div>
                    <a href="{{ book.url | relative_url }}" class="offcanvas-books-item-title">
                      {{ book_locale.name | default: book.name | default: book_id | upcase }}
                    </a>
                    {% if book_cur_id == book_id %}
                      <span class="badge bg-secondary rounded-pill mt-1" style="float: right;">Now</span>
                    {% endif %}
                  </div>
                  <p class="card-text">{{ book_locale.description | default: book.description }}</p>
                  <!-- last_modified_at -->
                  {% assign last_modified_at = site.data['books'][book_id]['last_modified_at'] %}
                  {% if last_modified_at %}
                  <p class="card-text"><small class="text-muted">latest update {{ last_modified_at | date: "%Y-%m-%d"  }}</small></p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    
  </div><!-- offcanvas-body -->

</div>

{%- capture sidebar_title -%}
  {{ book_locale_cur.name | default: book_cur.name | default: book_cur_id | upcase }} 
{%- endcapture -%}

{% assign sidebar_offcanvas_id = 'offcanvasBooks' %}

{%- capture sidebar_nav_list -%}
  <ul class="list-unstyled ps-0">
    <!-- category -->
    {% for doc in book_cur.docs %}
    <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#sl-{{doc.category}}" aria-expanded="true">
          {{ doc.name | default: doc.category | capitalize}}
      </button>
      <div class="collapse show" id="sl-{{doc.category}}">
        <!-- posts -->
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          {% for post in site.categories[doc.category] %}
          <li><a href="{{ post.url | relative_url }}" class="link-dark rounded">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </li>
    {% endfor %}

  </ul>
{%- endcapture -%}

{% include frame-sidebar.html 

  sidebar_title = sidebar_title 

  sidebar_offcanvas_id = sidebar_offcanvas_id

  sidebar_nav_list = sidebar_nav_list
%}
