---
layout: page
---

{% assign book_cur_arr = page.url | split: '?' | first | split: '#' | first | split: '/books/' | last | split: '/' %}
{% assign book_cur_id = book_cur_arr[0] %}
{% assign topic_cur_id = book_cur_arr[1] %}
{% assign post_cur_id = book_cur_arr[2] %}
<!-- {{book_cur_id}} <br>{{topic_cur_id}} <br>{{post_cur_id}}<br> -->
{% assign book_cur_info = site.data['books'][book_cur_id] %}
{% if book_cur_info == nil %}
<div class="alert alert-danger mb-0" role="alert">
  Sorry, we can't find the post you clicked on. <br>Maybe the post was shifted or some configuration is wrong. Please contact the webmaster
  <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>.
</div>
{% endif %}

<!-- offcanvas -->
<div class="offcanvas-books offcanvas offcanvas-start" tabindex="-1" id="offcanvasBooks" aria-labelledby="offcanvasBooksLabel">

  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">📚 {{ site.data.locales[site.lang].books.title | upcase }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  
  <div class="offcanvas-body">

    <div class="row row-cols-1 mt-3">
      {% for entry in site.data['books'] %}
        {% assign book_id = entry[0] %}
        {% assign book_info = entry[1] %}
        <!-- {{book.docs[0].category}} -->
        <div class="col offcanvas-books-item">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4 offcanvas-books-item-image-wrapper">
                <a href="{{ book_info['enter_url'] | relative_url }}">
                  <img src="{{ book_info['image'] | relative_url }}" class="offcanvas-books-item-image img-fluid rounded-start" alt="...">
                </a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <div>
                    <a href="{{ book_info['enter_url'] | relative_url }}" class="offcanvas-books-item-title">
                      {{ book_info['name'] | capitalize }}
                    </a>
                    {% if book_cur_id == book_id %}
                      <span class="badge bg-secondary rounded-pill mt-1" style="float: right;">Now</span>
                    {% endif %}
                  </div>
                  <p class="card-text">{{ book_info['description'] | capitalize }}</p>
                  <!-- last_modified_at -->
                  {% assign last_modified_at = book_info['last_modified_at'] %}
                  {% if last_modified_at %}
                  <p class="card-text"><small class="text-muted">latest update {{ last_modified_at | date: "%Y-%m-%d"  }}</small></p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    
  </div><!-- offcanvas-body -->

</div>

<!-- bootstrap flex shrink. see https://v5.bootcss.com/docs/5.1/utilities/flex/ -->
<div class="d-flex justify-content-center align-items-start flex-wrap">

  <!-- sidebar / content -->
  <div class="books-sidebar px-3 pt-1 flex-shrink-1">
    
    <div class="d-flex align-items-center books-sidebar-title-wrapper pb-1">
      <a class='books-sidebar-title' data-bs-toggle="offcanvas" href="#offcanvasBooks" role="button" aria-controls="offcanvasBooks" >
        <span class="books-sidebar-title-icon p-1 fas fa-book"> </span>
        <span class="fs-5 fw-semibold">
          {{ book_cur_info['name'] | capitalize }}
        </span>
      </a>
      <!--siderbar collapse btn  -->
      <button class="books-sidebar-toggler btn py-0 px-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-expand" fill="currentColor" viewBox="0 0 16 16">
          <title>Expand</title>
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10z"></path>
        </svg>
    
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-collapse" fill="currentColor" viewBox="0 0 16 16">
          <title>Collapse</title>
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zm7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0zm-.5 11.707l-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0v-3.793z"></path>
        </svg>
      </button>
    </div>

    <nav class="book-sidebar-topic-list-wrapper bd-links collapse px-2" id="bd-docs-nav" aria-label="Docs navigation" style="">
      
      <ul class="book-sidebar-topic-list list-unstyled ps-0">

        {% for doc in book_cur_info['docs'] %}
          {% assign topic_show = ''%}
          {% assign topic_show_icon = ''%}
          {% assign topic_show_active = ''%}
          {% if doc['category'] == topic_cur_id %}
            {% assign topic_show = 'show' %}
            {% assign topic_show_icon = 'aria-expanded="true"' %}
            {% assign topic_show_active = 'active' %}
          {% endif %}
        <li class="book-sidebar-topic mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed {{ topic_show_active }}" data-bs-toggle="collapse" data-bs-target="#sl-{{ doc['category'] }}" {{ topic_show_icon }} >
            {{ doc['name'] | capitalize}}
          </button>
          <div class="collapse {{ topic_show }}" id="sl-{{ doc['category'] }}">
            <ul class="book-sidebar-post-list btn-toggle-nav list-unstyled fw-normal pb-1 small">
              {% for post in doc['posts'] %}
                {% assign post_active = '' %}
                {% if page.url == post['url'] %}
                  {% assign post_active = 'active' %}
                {% endif %}
                <li class="book-sidebar-post">
                  <a href="{{ post['url'] | relative_url }}" class="book-sidebar-post-link link-dark rounded {{post_active}}">{{ post['title'] }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </li>
        {% endfor %}

      </ul>
    </nav> <!-- collapse -->

  </div>

  <div class="p-3 flex-fill flex-grow-1" style="background-color: pink;">
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
    <p>.................</p>
  </div>
</div>
